<header class="header">
    <div class="header__container">
          <header class="header">
                <h1 class="header-logo">Palo Alto</h1>
                <div class="header-menu">
                <span class="haeder-menu_home">HOME</span>
                <span class="header-menu_profile">PROFILE</span>
                <img class="header-img" src="images/search.png">
            </div>
            </header>
    </div>
</header>
