@import 'variables';
body {
  backgraund-color: $main-color;
}

.cv {
   width: 1400px;
    box-sizing: border-box;
    margin: auto;
    padding: 0 100px;
    background: #f7f9fc;
    padding-bottom: 105px;

}
.header {
    width: $body-width;
    padding-top: 70px;
    margin-left: 120px;;
}
.header__text {
    font-size: 42px;
    margin-bottom: 80px;
    font-style: normal;
}

.profile {
    box-sizing: border-box;
    box-shadow: 0 0 10px ;
    margin: auto;
    background: #ffffff;
    width: 952px;
}
.profile_text {
    display: inline-block;
    margin-top: 80px;
    margin-left: 95px;
    font-size: 42px;
}



.profile_section_form {
    font-size: 20px;
    height: 55px;
    width: 365px;
    background: #f7f9fc;
}

.profile_section {
    margin-left: 295px;
}


.profile_section_gender {

    width: 20px;
    height: 20px;
    cursor: pointer;
}
.gender {
    margin-top: 50px;
    margin-bottom: -30px;
    font-size: 40px;
}

.profile_section_gender + label {
    cursor: pointer;
}

.profile_section_submit {
    margin-left: 50px;
    font-size: 24px;
    color: #5c6bc0;
    background: #fff;
    border: #fff;
    margin-bottom: 80px;
    cursor: pointer;

}

.footer {
    position: relative;
    background: #5c6bc0;
    height: 160px;
    width: 100%;
    top: 105px;
    width: 1400px;
    margin: auto;




}

.footer__text {
    display: inline-block;
    padding: 9px;
    padding-left: 41.5%;
    padding-right: 41.5%;
    color: #4a569a;

}
@media (max-width: 1024px){
.cv{
width: 720px;
padding:40px;
margin-bottom: 20px;
}
.profile{
width:420px;
}
}
@media (max-width: 768px){
.cv{
width: 400px;
padding: 23px;
margin-bottom: 20px;
}
.profile{
width:230px;
}
.profile_text{
width: 230-30px;
height: 56px;
}
}
