{{#> layout/base }}

{{#*inline "main-block"}}
  <main class="main">
<main>
                <div class="pg-profile">
                <section class="pg-profile-post1">
                    <article>
                        <div class="pg-profile-tag_posititon">
                        <div class="pg-profile_tag">I Do Travel</div>
                        </div>
                        <div class="pg-profile_date">September 20</div>
                        <div class="pg-profile_title"> No difference how many peaks you reach if there was no pleasure in the climb</div>
                        <div class="pg-separator"></div>
                        <div class="pg-profile_text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</div>
                        <div class="pg-profile_bottom">
                        <p class="pg-profile_readmore"> 
                        <input class="pg-profile_more" type="button" name="more" id="moretext" value="READ MORE"> 
                        </p>
                        <div class="pg-profile_hashtag">#Explorer</div>
                        </div>
                    </article>
                </section>
                <section class="pg-profile-post2">
                    <article>
                        <img class="pg-profile-post2_img" src="images/rock.jpg">
                        <div class="pg-profile_date">September 18</div>
                        <div class="pg-profile-tag_posititon">
                        <div class="pg-profile_tag">I Do Observe</div>
                        </div>
                        <div class="pg-profile_title">You know, I'd rather argue with you, then laugh with anyone else. </div>
                        <div class="pg-separator"></div>
                        <div class="pg-profile-post2_preface">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.</div>
                        <div class="pg-profile_text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue. </div>
                        <div class="pg-profile_text">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</div>
                        <p class="readmore"> 
                        <input class="pg-profile_more" type="button" name="more" id="more_text" value="READ MORE">
                        </p>
                        <div class="pg-profile_hashtag">#Photo</div>
                    </article>
                </section>
                    </div>
            </main>
    <div class="js-articles"></div>
  </main>
{{/inline}}

{{/layout/base }}
