<footer class="footer">
  <div class="footer__container">
 <footer class="footer">
                <div class="footer_logo">Palo Alto</div>
                <div class="footer-menu">
                <span class="footer-menu__home">HOME</span>
                <span class="footer-menu__profile">PROFILE</span>
                <img class="footer-menu__img" src="images/Search.svg">
                </div>
                <div class="footer-content">
                <div class="footer-doc">©2015- Palo Alto.All Rights Reserved. Design &amp; Developed by</div>
                <div class="footer-developer">PixelBuddha Team</div>
            </div>
   <div class="icon">
            <img class="icon" src="images/networks.png">
        </div>
               </footer>
  </div>
</footer>
