.footer{
    font-family: 'Lato', sans-serif;
    background: #5c6bc0;
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}
.footer_logo{
    display: inline-block;
    padding: 9px;
    padding-left: 44.55%;
    padding-right: 44.55%;
    font-size: 36px;
    color: #4a569a;
}
.footer-menu{
    padding-left: 41%;
    padding-top: 70px;
}
.footer-menu_home{
    display: inline-block;
    font-family: Lato;
    font-size: 16px;
    color: #7e89cb;
    font-weight: 700;
    padding-right: 50px;
}
.footer-menu_profile{
    font-size: 16px;
    color: #ffffff;
    padding-right: 30px;
}
.footer-menu_img{
    width: 16px;
    height: 16px;
}
.footer-content{
    padding-top: 50px;
    padding-left: 400px;
}
.footer-doc{
    font-size: 14px;
    color: #7a85ca;
    padding-right: 30px;
}
.footer-developer{
    color: #ffffff;
    font-size: 14px;  
}
.icon{
    padding-left: 45%;
    padding-bottom: 70px;
    padding-top: 40px;
}
